body {
  background-color: #fefefe;
  font-family: 'Open Sans', sans-serif;
}

.header .col {
  text-align: center;
}

.menu .col {
  text-align: center;
  padding: 10px;
}

.menu .col a {
  color: #101010;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;

}

.footer {
  margin-top: 10px;
  border-top: 1px solid #323232;
}
